*{
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
  * a{
    color:black;
    text-decoration:none;
  }
  
  body{
    height:100vh;
    margin:0;
    background-color:#eee;
    font-family:Lato, sans-serif;
  }
  main{
    position:relative;
  }
  
  #header{
      position: fixed;
      top: 0;
      min-height: 75px;
      padding: 0px 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color:#eee;
      z-index:1;
  }
  
  .main-content{
  margin:0 auto;
  width:70%;
  position:relative;
  top:150;
  }
  
  #nav-bar ul{
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      z-index: -1;
  }

  ul li{
    list-style-type:none;
      text-align:center;
  }
  
  .nav-link{
    text-decoration:none;
    color:black;
    font-size:1.4em;
  }
  h1{
    font-size:1.4em;
    font-family:Vernada, sans-serif;
    text-align:left;
    margin-top:12%;
  }
  
  .form-section{
    width:80%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:center;
    margin-top: 100px;
    /* position: relative; */

  }
  .form-section h2{
    text-align:center;
  }
  #form{
    display:grid;
    row-gap:10px;
  }
  input[type="email"]{
    min-width:400px;
    height:40px;
  }
  input[type="submit"]{
    min-width:30px;
    margin:auto; 
    height:40px;
    color:black;
    font-size: 1.4em;
    background-color:#f3c10f;
    border:none;
    padding-left:40px;
    padding-right:10px;
  }
  .offer-section{
    display:grid;
    grid-template-columns:1fr;
    gap:80px;
    align-items:center;
    margin-top:100px;
    margin-bottom:40px;
  }
  .feature1 h2{
    padding-bottom:10px;
  }
  .frame-section{
    margin:0 auto;
    width:70% 
  }
  #video{
    width:100%;
    margin-bottom:40px;
  }
  
  .pricing-section{
    display:flex;
    justify-content:space-evenly;
    gap:20px;
    align-items:center;
  }
  .price{
    border:1px solid #000;
    width:100%;
    height:max-content;
    margin-bottom:30px;
  }
  
  .price-header{
    background-color:#d8d8d8;
    height:max-content;
    text-align:center;
    text-transform:uppercase;
    font-size:15px;
    width:100%;
  }
  .price-header h4{
    padding:5px;
  }
  .price h2{
    text-align:center;
    padding:10px;
  }
  .price ul li{
    margin-bottom:10px;
  }
  .select-button{
    margin:auto;
    color:black;
    width: fit-content;
  }
  button{
    background-color:#f3c40f;
    border:0;
    font-size:15px;
    padding:10px;
    margin:10px;
  }
  footer{
    background-color:#d8d8d8;
    display:grid;
    justify-content:flex-end;
    gap:10px;
    align-items:center;
    width:100%;
  }
  .footer-nav ul{
    display: flex;
    justify-content:space-around;
  }
  .footer-nav{
    padding-top:15px;
  }
  address{
    margin-right:10px;
  }
  
@media only screen and (max-width: 600px) {
    .pricing-section{
        display: grid;
    }
}
@media only screen and (max-width:900px) {
    .price:nth-of-type(2){
        display: none;
    }
}